<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Your Pragmatic Catalog</h1>

<% @products.each do |product| %>

	<div class="entry">
		<%= image_tag(product.image_url) %>
		<h3><%= product.title %></h3>
		<%= sanitize product.description %>
		<div class="price_line">
<<<<<<< HEAD
			<span class="price"><%= number_to_currency product.price %></span>
=======
			<span class="price"><%= product.price %></span>
>>>>>>> d36e1e29dbba2cfb23a9ba4215c8e2f76246cb9e
		</div>
	</div>
<% end %>
